<div ng-controller="listOfProjectsCtrl" data-ng-init="findOne()">
	<div id="addProjectForm">
		<span class="title">Add project</span><br>
		<span class="subtitle">One step towards success.</span>
		<form data-ng-submit="update()" novalidate>
			
			<div><input  id="selProject" type="text" ng-model="project.title" placeholder="title" disabled/><br><span style="color:red" ng-show="exsists">Title exsists</span></div>
		  	
			<div> 
				<span class="team-members">Team members:</span>
				<select ng-model="data.multipleSelect" multiple>
					<option ng-repeat="user in users" value="{{ user._id }}" >{{ user.username }}</option> 
				</select> 
			</div>
			<div>
				<input type="Submit" value="edit project" id="add-project-submit">
			</div>
		</form>
		<div ng-bind="error"></div>
	</div>
</div>