<section ng-controller="listOfProjectsCtrl as prctrl" ng-init="prctrl.listProjects()">
<br><hr><br>
<div align="center">
<div align="left" style="display:inline-block; width:150px;margin-left:-20px;">
Status:<br>
<input type="checkbox" ng-change="doFilter(cToDo)" ng-model="cToDo">To Do<br>
<input type="checkbox" ng-change="doFilter(cInProgress)" ng-model="cInProgress">In Progress<br>
<input type="checkbox" ng-change="doFilter(cVerify)" ng-model="cVerify">Verify<br>
<input type="checkbox" ng-change="doFilter(cDone)" ng-model="cDone">Done<br>
<br>
</div>
<div align="left" style="display:inline-block; width:150px; margin-left:-20px;">
Priority:<br>
<input type="checkbox" ng-change="doFilter(cBlocker)" ng-model="cBlocker">Blocker<br>
<input type="checkbox" ng-change="doFilter(cCritical)" ng-model="cCritical">Criticalo<br>
<input type="checkbox" ng-change="doFilter(cMajor)" ng-model="cMajor">Major<br>
<input type="checkbox" ng-change="doFilter(cMinor)" ng-model="cMinor">Minor<br>
<input type="checkbox" ng-change="doFilter(cTrivial)" ng-model="cTrivial">Trivial<br>
</div>
<!-- <select ng-options="item for item in statusies" ng-model="selected1" ng-change="selected_status(selected1)">
<select ng-options="item for item in priorities" ng-model="selected2" ng-change="selected_status(selected2)"> -->

</div>


<br><hr><br>

 <table>
	<tr> 
		<th>Title</th>	
		<th>Team Members</th>
		<th>&nbsp;</th>	
		<th>&nbsp;</th>		
		<th>Tasks</th>
		<th><button ng-click="addProject();" id="add-project">add project</button></th>
	</tr>	 
	<tr ng-repeat="project in listProjects">
		<td ng-bind="project.title"></td>
		<td style="display:inline-block;"><p ng-repeat="member in project.teamMembers"> <span ng-bind="member.fullName"></span></p></td>
		<td>&nbsp;</td>
		<td><button ng-click="reports(project._id);" id="reports-project">Reports</button></td>
		<td><button ng-click="listTasks(project._id);" id="list-tasks-project">Tasks</button></td>
		<td><button ng-click="editProject(project._id);" id="edit-project">Edit project</button></td>		
	</tr>
 </table>
 </section>