<head>
  <link rel="stylesheet" href="/projects/views/listOfProjects.css">
</head>

<div ng-controller="listOfProjectsCtrl">
<br><hr><br>
	<!-- <table align="center">
		<th colspan="2">Add Members</th>
		 <tr><td>Team members:</td>
			<td>
			<select ng-change="Users()" ng-model="listProject.teamMembers">
 			<option ng-repeat="user in users" value="{{ user._id }}" >{{ user.username }}</option> 
 			
			</select> 
		</td></tr> 

		
		<tr><td id="tdSubmitProject" colspan=2><button ng-click="save()">Submit</button></td></tr>
	</table>

    
  <br><hr><br> -->
  <h1>Members:</h1>
   <div ng-repeat="user in listProject.teamMembers" >
				
					
				<div >
					{{ user.username }}
				</div> 
				<div>
					<button ng-click="deleteMember($index)">delete</button>
				</div>
			</div> 

	<!-- <table align="center">
		<th colspan="2">Current Members</th>
		<tr><td>Username:</td><td>{{listProject.teamMembers[0].username}}</td></tr>
	</table> -->

</div>