<div ng-controller="changeComment">
	<div id="changeCommentForm">
		<span class="title">Change comment</span><br>
		<span class="subtitle">Freedom of speech guaranteed.</span>
    
		<form data-ng-submit="create()" name="addTaskForm" novalidate> 
            <div>
                <label>Comment:</label>
                <textarea cols="40" rows="8" ng-model="commentM.text"></textarea>
                <span ng-show="hasComment"><span>Morate uneti komentar</span><span>
            </div>
            
            <div>
                <input type="button" value="Submit" ng-click="update()"> 
            </div>
		</form>
    
	</div>
</div>