
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width:100%;
}
div.top {
    background: #454545;
    height: 50px;
}
div.left {
    float: left;
    width: 220px;
    background: #636363;
    height: 95%;

}
div.right {
    margin-left: 220px;
    background: #EDEDED;
    height: 95%;
}

div.option
{
	width: 220px;
	color: #BABABA;
	margin: 0 auto;
	font-size: 25px;
	height:45px;
	vertical-align: middle;
	line-height: 45px;
}

div.option1
{
	width: 220px;
	color: #F1F1F1;
	background-color: #454545;
	margin: 0 auto;
	font-size: 25px;
	height:45px;
	vertical-align: middle;
	line-height: 45px;
}

div.option2
{
	width: 220px;
	color: #F1F1F1;
	background-color: #454545;
	margin: 0 auto;
	font-size: 25px;
	height:45px;
	vertical-align: middle;
	line-height: 45px;
}
