
<section ng-controller="listOfProjectsCtrl as prctrl" ng-init="prctrl.listProjects()">
		<div id="projects-wrapper">
			<a href="#" id="add-project" ng-click="addProject()">Add project</a>

			<div ng-repeat="project in listProjects">

				<div id="project-wrapper">
					<div id="user-info">
						<span class="user-name" ng-bind="project.creator.fullName"></span>
						<span class="date" ng-bind="project.created"></span>
					</div>
					<div id="project-background">
						<div id="project-title">
							<span class="title" ng-bind="project.title"></span>
							<a id="edit-project" href="#"></a>
						</div>
						<ul>
						<div id="project-content" ng-repeat="teamMember in project.teamMembers">
							<li ng-bind="teamMember.fullName"></li>
						</div>
						</ul>
						<a href="/#!/{{listProject._id}}/tasks" id="more">pogledaj zadatke</a>
					</div>
				</div>
			</div>
		</div>
	</section>	