
<section ng-controller="myCtrl as ctrl">
	<div id="menu-wrapper" ng-show="authentication.loggedin">
		
		<div id="logo-info">
			<div id="logo-image">
				<img src="img/logo.png" alt="ticketing system logo">
			</div> 
		</div>
		
		<div id="logged-user">
			<span class="logged_as">Logged as:</span><br>
			<span class="user" ng-bind="authentication.user.fullName"></span><span class="role" ng-bind="authentication.user.role"></span>
			<a href="#" id="logout" ng-click="logout()"><span>logout</span></a>
		</div>
		<div id = "menu">
			<ul>
				<li><a class="active" ng-click="showProjects();">Projects</a></li>
				<li><a ng-click="showUserTasks();">Tasks</a></li>
			</ul>
		</div>
		
	</div>

	
	<div id="content-wrapper" ng-show="authentication.loggedin" >

		<section ng-controller="listOfProjectsCtrl as prctrl">
				<div id="projects-wrapper" ui-view>
	
<div align="center">

<!-- <select ng-options="item for item in statusies" ng-model="selected1" ng-change="selected_status(selected1)">
<select ng-options="item for item in priorities" ng-model="selected2" ng-change="selected_status(selected2)"> -->

</div>


 <table>
	<tr> 
		<th>Title</th>	
		<th>Team Members</th>
		<th>&nbsp;</th>	
		<th>&nbsp;</th>		
		<th>Tasks</th>
		<th ><button ng-click="addProject();" id="add-project" ng-show="authentication.isAdmin">Add project</button><span ng-show="!authentication.isAdmin">&nbsp;</span></th>
	</tr>	 
	<tr ng-repeat="project in listProjects">
		<td ng-bind="project.title"></td>
		<td style="display:inline-block;"><p ng-repeat="member in project.teamMembers"> <span ng-bind="member.fullName"></span></p></td>
		<td>&nbsp;</td>
		<td><button ng-click="reports(project._id);" id="reports-project" ng-show="authentication.isAdmin">Reports</button><span ng-show="!authentication.isAdmin">&nbsp;</span></td>
		<td><button ng-click="listTasks(project._id);" id="list-tasks-project">Tasks</button></td>
		<td><button ng-click="editProject(project._id);" id="edit-project" ng-show="authentication.isAdmin">Edit project</button><span ng-show="!authentication.isAdmin">&nbsp;</span></td>		
	</tr>
 </table>
 
				</div>
									
				
			</section>			
	</div>

</section>

