@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto_medium_macroman/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 

html, body{
    height: 100%;
}
body{
    background-color: #070723;
    display: table; 
    margin: 0 auto;
    z-index: 0;
}
div#myContainer{
    background-color: #070723;
    height: 100%;
    display: table-cell;   
    vertical-align: middle;   
    width:960px;
    z-index: 1;
}
div#menu-wrapper{ 
    position: absolute;
    top:0px;
    vertical-align: middle;   
    width: 240px;       
    height: 100%;
    z-index: 2;
}
div#content-wrapper{
    background-color: #070723;
    position: relative;
    top:0px;
    left:240px;
    vertical-align: middle;   
    width: 720px;       
    height: 100%;    
    z-index: 2;
   font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    color:white;
}
div#logo-info{
    background-color: #3f3f58;
    position: relative;
    top:0px;
    height: 80px;
    width: 100%;
    z-index: 3;    
}
div#logo-image{
    position: relative;
    top:20px;
    left:40px;
    width:162px;    
}
div#logged-user{
    position: relative;
    top:20px;
    left:43px;
    width:162px; 
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: white;
}
div#logged-user .logged_as{
    color: #838390;
}
div#logged-user .user{
    position: relative;
    top:5px;
    font-size: 14px;
}
div#logged-user .role{
    color: #0084ff;
}
div#logged-user a#logout{
    display: inline-block;
    border-radius: 5px;
    background-color: rgb( 255, 45, 85 );
    border: 0px;
    width: 153px;
    height: 37px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top:20px;
    left:0px;
    text-decoration: none;
    color: white;
}
div#logged-user a#logout span{
    position: relative;
    top:8px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
     font-weight: 600;
    color:white;
}
div#logged-user a#logout:hover{
    opacity: 0.9;
}

div#container div#login-form{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -251px;
    margin-left: -321px;
    width: 643px;
    height: 403px;   
}
div#container div#login-form-background{
    position: relative;
    width: 643px;
    height: 303px;      
    border-radius: 2px;
    background-color: #0f0f2a;

}
div#container div#login-form-logo{
    position: relative;
    top:40px;
    left:240px;
    width: 163px;
    height: 41px;  
    background-image: url('../img/logo.png');
}

div#container div#login-form-background span.login-form-login{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight:360;    
    z-index: 20;
    opacity:1;
    position: relative;
    top: 10px;
    left: 30px;
}
div#container div#login-form-background span.login-form-login-text{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    font-weight:3600;    
    z-index: 20;
    opacity:0.4;
    position: relative;
    top: 12px;
    left: 30px;
}
div#container div#login-form-background div{
    position:relative;
    width:90%;
    top:20px;
    left:30px
}
div#container div#login-form-background input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
}
div#container div#login-form-background input[type=Submit]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
    background-color: #00abec;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight:360;  
}

div#container div#login-form-background input[type=Submit]:hover{
    cursor:hand;
    opacity:0.9;
}
div#container div#login-form-background a{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    font-weight:360;    
    z-index: 20;
    opacity:0.4;
    position: relative;
    top: 30px;
    left: 30px;
    text-decoration: none;
}
div#container div#login-form-background a:hover{
    color: #00abec;
}
div#container div#menu{
    position: relative;
    top: 70px;
    
}
div#container div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 240px;

}

div#container div#menu li a {
    display: block;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    opacity: 0.5;
    font-size: 15px;
    font-weight:600; 
    padding: 12px 0 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 90px;
}


div#container div#menu li a.active {
    opacity:1;
    background-color: #454572;
    color: white;
}

div#container div#menu li a:hover:not(.active) {
    background-color: #454572;
    color: white;
}

div#content-wrapper div#projects-wrapper{
    position:relative;

    height: auto;
    width: 90%;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    opacity: 1;
    font-size: 15px;
    left:50px;
}
div#content-wrapper div#projects-wrapper th,td{
   color:white;
   font-family: 'Roboto', Arial, sans-serif;

   border-collapse: collapse;
}
div#content-wrapper div#projects-wrapper div#content-wrapper div#projects-wrappertable, td, th {    
    font-size: 15px;
    text-align: left;
}

div#content-wrapper div#projects-wrapper table {
    border-collapse: collapse;
    width: 100%;
    background-color: #06061c;
    padding: 10px;
    border-radius: 5px;
    empty-cells: show;
}

div#content-wrapper div#projects-wrapper th, td {
    padding: 15px;
}
div#content-wrapper div#projects-wrapper th {
    font-weight: bold;
    border-bottom: 1px dashed #1f1f33;
}

div#content-wrapper div#projects-wrapper td {
    font-size: 12px;
    color: #838390;
    border-top: 1px dashed #1f1f33;
}

div#content-wrapper table {
    border-collapse: collapse;
    width: 100%;
    background-color: #06061c;
    padding: 10px;
    border-radius: 5px;
    empty-cells: show;
}

div#content-wrapper th, td {
    padding: 15px;
}
div#content-wrapper th {
    font-weight: bold;
    border-bottom: 1px dashed #1f1f33;
    color: white;
}

div#content-wrapper td {
    font-size: 12px;
    color: #838390;
    border-top: 1px dashed #1f1f33;
}

div#content-wrapper div#projects-wrapper div#project-wrapper{
    position:relative;
    top: 20px;
    left:40px;
    width: 90%;
    height: 212px;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#user-info{
    position:relative;
    display: table-row;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#user-info span.user-name{
    position:relative;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    opacity: 0.5;
    font-size: 15px;
    top:80px;
    left:20px;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#user-info span.date{
    position:relative;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    opacity: 0.7;
    font-weight: bold;
    font-size: 13px;
    top:100px;
    left:-110px;    
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background{
    position:relative;
    top: 0px;
    left: 150px;
    background-image: url('../img/project_background.png');
    width:502px;
    height:176px;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background div#project-title{
    position: relative;
    padding: 5px;
    padding-left: 50px;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background div#project-title span.title{
    position:relative;
    color:white;
    font-family: 'Roboto', Arial, sans-sesrif;
    opacity: 1;  
    font-weight: bolder;
    font-size: 18px;
    top:5px;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background div#project-title a#edit-project{
   position:absolute;
   top: 2px;
    left: 425px;
   display: inline-block;
    background-image: url('../img/edit_button.png');
    border: 0px;
    width: 76px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background div#project-title a#edit-project:hover{
   opacity:1;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background div#project-content{
    position:relative;
    left: 30px;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    opacity: 0.9;
    font-size: 13px;
    height: 70px;
    width: 450px;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background div#project-content li{
   display: block;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background a#more{
   position:absolute;
   top: 137px;
    left: 347px;
    display: inline-block;
    background-color: #6e3d83;
    border: 0px;
    border-radius: 5px;
    width: 153px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    opacity: 0.8;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    padding-top: 8px;
    z-index: 150;
}
div#content-wrapper div#projects-wrapper div#project-wrapper div#project-background a#more:hover{
    opacity: 1;
}
button#add-project{
   top: 0px;
    left: 5px;
    display: inline-block;
    border: 0px;
    border-radius: 5px;
    width: 153px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    opacity: 0.9;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    padding-top: 0px;
     border-radius: 5px;
  background-color: rgb( 45, 184, 67 );
}
button#add-project:hover{
    opacity: 1;
    cursor: hand;
}
button#list-tasks-project{
   top: 0px;
    left: 5px;
    display: inline-block;
    border: 0px;
    border-radius: 5px;
    width: 153px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    opacity: 0.9;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    padding-top: 0px;
     border-radius: 5px;
  background-color: #6e3d83;
}
button#list-tasks-project:hover{
    opacity: 1;
    cursor: hand;
}
button#edit-project{
   top: 0px;
    left: 5px;
    display: inline-block;
    border: 0px;
    border-radius: 5px;
    width: 153px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    opacity: 0.9;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    padding-top: 0px;
     border-radius: 5px;
  background-color: #00abec;
}
button#edit-project:hover{
    opacity: 1;
    cursor: hand;
}
input#add-task{
   top: 0px;
    left: 5px;
    display: inline-block;
    border: 0px;
    border-radius: 5px;
    width: 153px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    opacity: 0.9;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    padding-top: 0px;
     border-radius: 5px;
  background-color: rgb( 45, 184, 67 );
}
input#add-task:hover{
    opacity: 1;
    cursor: hand;
}
/* add project*/
div#content-wrapper div#addProjectForm{
    position: relative;
    top: 150px;
    left: 90px;
    width: 643px;
    height: 350px;      
    border-radius: 5px;
    background-color: #0f0f2a;   
}

div#container div#addProjectForm span.title{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight:360;    
    z-index: 20;
    opacity:1;
    position: relative;
    top: 10px;
    left: 30px;
}
div#container div#addProjectForm span.subtitle{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    font-weight:3600;    
    z-index: 20;
    opacity:0.4;
    position: relative;
    top: 12px;
    left: 30px;
}
div#container div#addProjectForm div{
    position:relative;
    width:90%;
    top:20px;
    left:30px
}
div#container div#addProjectForm input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
}
div#container div#addProjectForminput[type=Submit]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
    background-color: #00abec;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight:360;  
}

div#container div#addProjectForm input[type=Submit]:hover{
    cursor:hand;
    opacity:0.9;
}
div#container div#addProjectForm select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
}
div#container div#addProjectForm span.team-members{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    font-weight:3600;    
    z-index: 20;
    opacity:0.4;
}
/*end of add project*/

/* add task */
div#content-wrapper div#addTaskForm{
    position: relative;
    top: 150px;
    left: 90px;
    width: 643px;
    height: 650px;      
    border-radius: 5px;
    background-color: #0f0f2a;   
}

div#container div#addTaskForm span.title{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight:360;    
    z-index: 20;
    opacity:1;
    position: relative;
    top: 10px;
    left: 30px;
}
div#container div#addTaskForm span.subtitle{
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    font-weight:3600;    
    z-index: 20;
    opacity:0.4;
    position: relative;
    top: 12px;
    left: 30px;
}
div#container div#addTaskForm div{
    position:relative;
    width:90%;
    top:20px;
    left:30px
}
div#container div#addTaskForm input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
}
div#container div#addTaskForm button{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
    background-color: #00abec;
    color:white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight:360;  
}

div#container div#addTaskForm button:hover{
    cursor:hand;
    opacity:0.9;
}
div#container div#addTaskForm select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
}
div#container div#addTaskForm textarea{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;   
    height: 80px;
}
/* end of add task */