<section data-ng-controller="UsersController" data-ng-init="find()">
    <h1> Users </h1>
    
    <ul> 
        <li data-ng-repeat="user in users">
            <a data-ng-href="#!/users/{{user._id}}" data-ng-bind="user.username"></a>
            <br>
            <small data-ng-bind="user.firstName"></small>
            <small data-ng-bind="user.lastName"></small>
        </li>
    </ul>
    
    <div data-ng-hide="!users || users.length">
        No users yet.  <a href="/#!/users/create">Create one </a>!    
    </div>
</section>