<section data-ng-controller="LoginCtrl as login" >
<div id="login-form">
	<div id = "login-form-background">
		<span class="login-form-login">Login</span><br>
		<span class="login-form-login-text">Please login or register.</span>
		<form ng-submit="login.login()" novalidate>
			<div>
				<input type="text" placeholder="Username" name="username" ng-model="username">
			</div>
			<div>
				<input type="password" placeholder="Password" name = "password" ng-model="password">
			</div>
			<div>
				<input type="Submit" value="Login">
			</div>
		</form>
		<div ng-bind="login.loginError"></div>
		<a href="/#!/register">Don't have account? Register!</a>
	</div>
	<div id ="login-form-logo">
	</div>
</div>

</section>
