<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <h1 data-ng-bind="user.title"></h1>
    <div data-ng-show="authentication.user.role == 'admin' ">
        <a href="/#!/users/{{user._id}}/edit">edit</a>
        <a href="#" data-ng-click="delete();">delete</a>
    </div>
    <small data-ng-bind="authentication.user.role"></small>
    <small>
        <em>User: </em>
        <em data-ng-bind="user.firstName"></em>
        <em data-ng-bind="user.lastName"></em>
        <em data-ng-bind="user.username"></em>
        <em data-ng-bind="user.email"></em>
        <em data-ng-bind="user.role"></em>
    </small>
</section>