table {
    /*width:100%;*/
    margin: 0 auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}


td#tdSubmitTask {
    height: 40px;
    text-align: center;

}

td#tdSubmitTask button{
    height: 40px;
    text-align: center;

}

table#tAddTask input{
    width:180px;
    height:30px;
} 

table#tAddTask select{
    width:180px;
    height:30px;
} 

table#tAddTask textarea{
    width:270px;
    height:150px;
} 

table#tAddTask tr{
    height:40px;
} 

span.validationText {
    color:red;
    padding-left: 4em;
}


div#divTask{
    padding-top: 100px;
}