<div  ng-controller="listOfTasksCtrl">
<br><hr><br>
<div style="float:left; margin-left:20px;"><input type="button" value="Add Task"></div>
<div align="center">
<div align="left" style="display:inline-block; width:150px;margin-left:-20px;">
Status:<br>
<input type="checkbox" ng-change="doFilter(cToDo)" ng-model="cToDo">To Do<br>
<input type="checkbox" ng-change="doFilter(cInProgress)" ng-model="cInProgress">In Progress<br>
<input type="checkbox" ng-change="doFilter(cVerify)" ng-model="cVerify">Verify<br>
<input type="checkbox" ng-change="doFilter(cDone)" ng-model="cDone">Done<br>
<br>
</div>
<div align="left" style="display:inline-block; width:150px; margin-left:-20px;">
Priority:<br>
<input type="checkbox" ng-change="doFilter(cBlocker)" ng-model="cBlocker">Blocker<br>
<input type="checkbox" ng-change="doFilter(cCritical)" ng-model="cCritical">Criticalo<br>
<input type="checkbox" ng-change="doFilter(cMajor)" ng-model="cMajor">Major<br>
<input type="checkbox" ng-change="doFilter(cMinor)" ng-model="cMinor">Minor<br>
<input type="checkbox" ng-change="doFilter(cTrivial)" ng-model="cTrivial">Trivial<br>
</div>
<!-- <select ng-options="item for item in statusies" ng-model="selected1" ng-change="selected_status(selected1)">
<select ng-options="item for item in priorities" ng-model="selected2" ng-change="selected_status(selected2)"> -->

</div>
<br><hr><br>

<table id="t01" align="center" width="75%;">
  <tr>
    <th>&nbsp;</th>
    <th>Mark</th>  
    <th>Status</th>
    <th>Priority</th>
    <th>Title</th>
    <th>Author</th>
    <th>Assigned For</th>
    <th>Last Change</th>
  </tr>
  <tr ng-repeat="element in listOfTasks">
    <td style="width:4%;">{{$index+1}}&nbsp;</td>
    <td style="width:11%;">{{element.mark}}</td>  
    <td style="width:9%;">{{element.status}}</td>
    <td style="width:9%;">{{element.priority}}</td>
    <td style="width:21%;"><p style="color:blue" ng-click="pregled(element.id)"><u>{{element.title}}</u></p></td>
    <td style="width:15%;">{{element.author}}</td>
    <td style="width:15%;">{{element.assignedFor}}</td>
    <td style="width:12%;">{{element.updatedAt}}</td>
  </tr>

</table>
</div>