div.taskDetails
{
	width: 70%;
	background-color: rgba(180,215,40,0.4);
	margin-top:0.2%;
}

u.taskTitle
{
	margin-left: 50px;
	font-size: 24px;
}

p.taskP1
{
	margin-left: 30px;
	font-size: 18px;
}

p.ptDesc
{
	margin-left: 10px;
	font-size: 22px;
}

p.taskP2
{
	margin-left: 10px;
	font-size: 18px;
	margin-top: 1.5%;
}

table.taskT
{
	margin-left: 10px;
}