<div ng-controller="taskModel">
	<div id="taskBackground">
		
		<div id="taskTitleBar">
			<div id="buttons">
				<input type="button" class="btn btn-default btn-sm topButtons" value="show history" ng-click="showHistory(task.id)" id="show-history">			
				<input type="button" class="btn btn-default btn-sm topButtons" value="change task" ng-click="editTask(task.id)" id="edit-task">
				<input ng-show="isAdmin" type="button" class ="btn btn-default btn-sm topButtons" value="delete task" ng-click="clicked=true" id="delete-task">			
				<div ng-show="clicked">
					<label>Are you sure you want to delete this task?</label>
					<input type="button" class="btn btn-default btn-sm topButtons"
					value="Yes" ng-click="deleteTask(task.id)">
					<input type="button" class="btn btn-default btn=sm topButtons" value="No" ng-click="clicked=false">
				</div>			
			</div>			
			
			<div><span class="title" ng-bind="task.title"></span><span class="mark" ng-bind="task.mark"></span></div>

			<p><span class="description" ng-bind="task.description"></span></p>

		</div>
		
		<div id="task-content">
			<table>
				<tr>
					<th>Author</th>
					<td>{{task.name}} {{task.surname}}</td>
				</tr>
				<tr>
					<th>Priority</th>
					<td ng-bind="task.priority"></td>
				</tr>
				<tr>
					<th>Status</th>
					<td ng-bind="task.status"></td>
				</tr>
				<tr>
					<th>Assigned for</th>
					<td>{{task.assignedFor}}</td>
				</tr>
				<tr>
					<th>Created at</th>
					<td>{{task.createdAt}}</td>
				</tr>
				<tr>
					<th>Updated at</th>
					<td ng-show="task.updatedAt">{{task.updatedAt}}</td>
				</tr>																												
			</table>	
		</div>
		<div ng-controller="listOfComments">
			<div id="comments-section">
				<div>
					Title:<input type="text" ng-model="commentM.title">
				</div>
				<div>
					Comment: &nbsp;<textarea cols="40" rows="8" ng-model="commentM.text"></textarea>
				</div>	
				<div>
					<input type="button" value="Submit" ng-click="create()">
				</div>				
			</div>
			

			<div ng-repeat="comment in comments" id="comments-show">
				<b style="font-size:18px;">Title:</b> {{comment.title}} <br>
				<b style="font-size:18px;">Comment:</b> <p class="comment-text">{{comment.text}}</p> <br>
				<b style="font-size:18px;">Author:</b> {{comment.author.firstName}} {{comment.author.lastName}} <br>
				<input type="button" value="Change" ng-click="update(comment._id)" ng-if="comment.show" id="update-comment">
				<input type="button" value="Delete" ng-click="delete(comment._id)" ng-if="comment.show" id="delete-comment">
				<br><br>
			</div>
		</div>
		
	</div>
	
</div>
