div.taskDetails
{
	width: 70%;
	/*background-color: rgba(180,215,40,0.4);*/
	background-color: rgba(230,252,119,0.6);
	margin-top:0.2%;
}

u.taskTitle
{
	margin-left: 50px;
	font-size: 24px;
}

p.taskP1
{
	margin-left: 30px;
	font-size: 18px;
}

p.ptDesc
{
	margin-left: 10px;
	font-size: 22px;
}

p.taskP2
{
	margin-left: 10px;
	font-size: 18px;
	margin-top: 1.5%;
}

table.taskT
{
	margin-left: 10px;
}

div.topLocal
{
	background-color: lightgoldenrodyellow;/*C9C9C9;*/
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align:left;
}

input.topButtons
{
	width:100px;
	height:20px;
	margin-top: 5px;
	margin-left: 10px;
}
